@import "bootstrap";

.navbar-expand-lg {
  background-color: #000000;

  .navbar-nav a.nav-link {
    color: #DADADA;

    &:hover {
      color: #fff
    }
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: #DADADA;
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('jumbotron-background.jpg');
  background-size: cover;
  height: 350px;

  h1 {
    font-weight: bold;
    padding-bottom: 20px;
    color: #ffffff;
  }
}

.lead .btn-lg {
  background: #000000;
  border: none;

  &:hover {
    background: #007BFF;
  }
}

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
  margin-top: 50px;

  small {
    float: left;
  }

  &:hover {
    color: #222;
  }
}

.container {
  margin-top: 40px;
}

form.new_article, form.edit_article, form.new_user, form.edit_user {
  margin-top: 40px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-body {
  margin-top: 30px;
  background: #F7F7F7;
}

article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

pre.debug_dump {
  margin-top: 50px;
  clear: both;
  background: #eaeaea;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000000;
}
